# Arquivos e pastas a ignorar

# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc

# VS Code
.vscode/
*.code-workspace

# Arquivos temporários
*.log
.DS_Store

# Arquivos compilados
dist/